<header class="bg-header-blue fixed w-full z-50">
    <nav class="container mx-auto px-6 py-4 flex justify-between items-center">
        <div class="flex items-center">
            <img src="/images/logo.png" alt="SyberKey Logo" class="h-8 w-auto mr-2">
            <span class="font-bold text-2xl text-white">Syber<span class="text-yellow-400">Key</span></span>
            <span class="ml-50 font-bold text-2xl text-white">OneBio<span class="text-yellow-400">ID</span></span>
        </div>
        <div class="hidden md:flex items-center space-x-6">
            {{ range .Site.Menus.main }}
            <a href="{{ .URL }}" class="text-white hover:text-yellow-400 text-sm font-medium">{{ .Name }}</a>
            {{ end }}
            <a href="/get-started" class="bg-yellow-400 text-blue-800 font-bold py-2 px-4 rounded-full hover:bg-yellow-300 transition duration-300 text-sm">Get Started</a>
        </div>
    </nav>
</header>
